extends base

block content
    section.Article.flex.flex-column
        .contentArticleWrapper.flex.flex-column
            .containerArticleCollection.grid.col-6-row-3-1300
                .containerTitleArticle
                    h1(id='titleArticle')= article.title 
                    h2(id='subheadingArticle')= article.subheading
                .containerCategoryArticle 
                    span= article.category
                .containerAuthorArticle 
                    p.authorArticleName= article.authorName
                    .articleCreatedAt= article.createdAt
                .containerPictureArticle
                    .pictureInsideArticle
                        img.imgMain(src=`/img/${article.imageCover}`)
                .containerArticle
                    article.paragraphArticle!= article.sanitizedHtml
                - if (user.role === 'admin')
                    .form-group.buttonsAcceptArticle.flex.flex-column
                        a.buttonArticle(href=`/protected/edit/${article.slug}`) Edit
                        button.deleteArticle(type='button', id='deleteLink') Delete
